// Regroupe le SCSS de la page d'accueil
main{
    display: flex;
}
.accueil{
    width: 100%;
    height: calc(100vh - 200px);
    & #videoAcc{
        opacity: 0.5;
    }
    & .logo{
        position: absolute;
        z-index: 5;
    }
}
body{
    background-color:$couleur__background-body;
    overflow: hidden;
    background-image: url('media/images/ligneback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh   ;
}
