// Regroupe le SCSS de la page d'accueil
main{
    
}
.accueil{
    width: 92%;
    margin: 0 auto;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: space-between;
    .menuSide{
        width: 17%;
        .menuCours{
            height: 50%;
            padding-top: 20%;
            & ul{
                height: 80%;
                & li{
                    margin: 10% 0;
                    & a{
                        font-size: Max(1.5vw, 1.2em);
                    }
                }
            }
        }
        #cheminement{
            width: 60%;
            height: 60px;
            margin: 20px 0;
            border: $couleur__background-sous-titre solid 1px;
            border-radius: 10px;
            display: flex;

            & p{
                margin:auto auto;
                align-items: center;
                text-align: center;
                font-family: kosan;
                font-size:Max(0.8vw, 0.6em);

            }
        }
        #stage{
            width: 70%;
            display: flex;
            flex-direction: column;
            & p{
                font-size:Max(1.8vw, 1.5em);
                font-family: kosan;
                margin: 20px 0;
            }
            & div{
                width: 100%;
                height: 30px;
                border-radius: 15px;
                background-color: black;
            }
        }
    }
    #videoAcc_Contenant{
        opacity: 0.5;
        float: right;
        width: 83%;
        & #video{
            width: 100%;
            padding-top: 46.45%;
            height: 0px;
            position: relative;
            & #videoAcc{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        & #testVid{
            background-color: black;
            width: 100%;
            height: 100px;
        }
    }
    
    
}
body{
    background-color:$couleur__background-body;
    overflow: hidden;
    background-image: url('media/images/ligneback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    @include screen('mobile')  {
        
      }
}
