// Regroupe le SCSS de la page d'accueil
main{
    display: flex;
}
.accueil{
    width: 100%;
    background-color: $couleur__background-body;
    & p{
        margin: 0;
        padding: 20px 0;
        text-align: center;
        color: white;
    }
}
.menu-principal{
    width: 20%;
    height: 100vh;
    & p{
        text-align: center;
    }
}
body{
    background-color:$couleur__background-body;
    overflow-x: hidden;
}
