/*anthonny*/
.contenu-ambiance{
    overflow-y: scroll;
    margin-top: 2em;
}
 .wp-block-gallery-2 {
     width: 20%;
     height: 20%;
     margin: auto;
 }
 .contenu-ambiance .wp-block-gallery-1  figure img {
    border-radius: 8%;
    opacity: 0.8;
    border: white 1px solid;
    box-shadow: 0px 0px 30px 4px rgb(3, 3, 3);
 }