.menu-burger{
    height: 10%;
    & .burger__contenant{
        width: 60px;
        height: 60px;
        background-color: white;
        margin-left: auto;
        margin: 0 auto;
        & p{
            color: black;
        }
    }
}