.contenant {
    width: 100%;
    height: 50vh;
    margin: 0;
    margin-top:Min(25vw,30rem);
    @include screen('mobile')  {
      margin-top:Min(50vw,60rem);
    }
    @include screen('tablet')  {
      margin-top:Min(25vw,30rem);
    }
  }
  
  div.carousel {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --items: 14;
    --middle: 6;
    --position: 1;
  }
  
  div.item {
    position: absolute;
    max-width: 700px;
    width: 35%;
    height: 0;
    padding-bottom: Min(35%, 700px);
    // width: 28%;
    // height: 0;
    // padding-bottom: 28%;
    --r: calc(var(--position) - var(--offset)); //1 - la position des carte
    --abs: max(calc(var(--r) * -1), var(--r)); // 0 ou -1 ou -2... donc 0 1 ou 2
    transition: all 0.25s linear;
    transform: translateX(calc(-31vw * var(--r)))scale(0.6); //300px de base
    z-index: calc((var(--position) - var(--abs)));
    border: 2px solid white;
    margin: 0 100px;
    border-radius: 10%;
    background-image: url('media/images/backgroundItem.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include screen('mobile')  {
      transform: translateX(calc(-100vw * var(--r)))scale(0.6); //300px de base
      width: 80%;
      padding-bottom: Min(80%, 700px);
    }
    
    //transform: rotateY(calc(-8deg * var(--r))) translateX(calc(-350px * var(--r))); //300px de base
  }
  #bouton__droit{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 1%;
    top: Max(calc(200px + 33,3%),calc(20%,33,3%));
    z-index: 90;
    cursor: pointer;
    background-image: url('media/images/Fleche.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    @include screen('mobile')  {
      width: 80px;
      height: 80px;
    }
    @include screen('tablet')  {
      width: 60px;
      height: 60px;
    }
  }
  #bouton__gauche{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1%;
    top: Max(calc(200px + 33,3%),calc(20%,33,3%));
    z-index: 90;
    cursor: pointer;
    background-image: url('media/images/Fleche.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include screen('mobile')  {
      width: 80px;
      height: 80px;
    }
    @include screen('tablet')  {
      width: 60px;
      height: 60px;
    }
  }
  .nomFam{
    font-family: neon;
  }
  .permalink{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  div.item .img_contenent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
    z-index: -10;
    & img{
      width: 100%;
      height: 100%;
      border-radius: 10%;
    }
  }
  div.item .contenuCours{
    position: fixed;
    z-index: 100;
    width: 1100px;
    height: 120%;
    margin-top:Min(7vw,12rem);
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    background-color: black;
    //background-image: url('media/images/backgroundItem.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:auto;
    @include screen('mobile')  {
      height: 70vh;
      width: 70vw;
    }
    @include screen('tablet')  {
      width: 700px;
      height: 400px;
    }
    & .boutonFerme{
      margin: 40px auto 40px auto;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: white;
      text-align: center;
      font-family: culottes;
      font-size: 2.5em;
      cursor: pointer;
    }
    & p{
      position: initial;
      font-size: 2em ;
      font-family: culottes;
      padding: 20px 20px;
    }
  }
  
  div.item h2{ // Titre prof ou du cours / famille de cours
    z-index: 2;
    position: relative;
    bottom: 4vw;
    left: 0; 
    right: 0;
    margin: 0;
    text-align: center;
    color: $couleur__font-titre;
    font-family:kosan ;
    @include screen('mobile')  {
      font-size: 5vw;
    }
  }
  div.item { // Les cours de ... / spécialiste du ...
      & p{
        position:absolute;
        left: 0; 
        right: 0; 
        bottom: 8%;
        margin-left: auto; 
        margin-right: auto; 
        margin: 0;
        text-align: center;
        font-size: 2vw;
        font-family: $police__titre-principal;
        z-index: 12;
        @include screen('mobile')  {
          font-size: 6vw;
        }
      }
}
div.item p:nth-of-type(2){ // description
    z-index: 2;
    position:absolute;
    left: 0; 
    right: 0; 
    bottom: Min(-22%,-8rem);
    margin-left: auto; 
    margin-right: auto; 
    margin: 0;
    text-align: center;
    color: grey;
    font-family: $police__titre-secondaire;
    font-size: Max(1.1vw, 1em);
}
  div.item figure{ //image deuxieme plan
    position:absolute;
    left: 0; 
    right: 0; 
    bottom: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 85%;
    height: 85%;
    border-radius: 10%;
  }
  div.item figure:nth-of-type(1){ //image premier plan
    z-index: 1;
    transition: .5s ease-in-out;
  }
  div.item figure:nth-of-type(1):hover{
    transition: .5s ease-in-out;
    opacity: 0;
  }
  //Les boutons input
  input{
    display: none;
  }
  input:nth-of-type(1):checked ~ div.carousel {
    --position: 1;
  }
  
  input:nth-of-type(2):checked ~ div.carousel {
    --position: 2;
  }
  
  input:nth-of-type(3):checked ~ div.carousel {
    --position: 3;
  }
  
  input:nth-of-type(4):checked ~ div.carousel {
    --position: 4;
  }
 
  input:nth-of-type(5):checked ~ div.carousel {
    --position: 5;
  }

  input:nth-of-type(6):checked ~ div.carousel {
    --position: 6;
  }
  
  input:nth-of-type(7):checked ~ div.carousel {
    --position: 7;
  }
  
  input:nth-of-type(8):checked ~ div.carousel {
    --position: 8;
  }
 
  input:nth-of-type(9):checked ~ div.carousel {
    --position: 9;
  }
  
  input:nth-of-type(10):checked ~ div.carousel {
    --position: 10;
  }
 
  input:nth-of-type(11):checked ~ div.carousel {
    --position: 11;
  }
  
  input:nth-of-type(12):checked ~ div.carousel {
    --position: 12;
  }
  
  input:nth-of-type(13):checked ~ div.carousel {
    --position: 13;
  }
 
  input:nth-of-type(14):checked ~ div.carousel {
    --position: 14;
  }
   // les cartes de chacun des profs
   div.item:nth-of-type(1) {
    --offset: 1;
    @include screen('mobile')  {
      transform: translateX(calc(-100vw * var(--r)))scale(0.6); //300px de base
  }
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    transform:translateX(calc(-31vw * var(--r)))scale(1);
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    @include screen('mobile')  {
      transform: translateX(calc(-100vw * var(--r)))scale(0.6); //300px de base
  }
  }
  div.item:nth-of-type(4) {
    --offset: 4;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
  }
  div.item:nth-of-type(6) {
    --offset: 6;
  }
  div.item:nth-of-type(7) {
    --offset: 7;
  }
  div.item:nth-of-type(8) {
    --offset: 8;
  }
  div.item:nth-of-type(9) {
    --offset: 9;
  }
  div.item:nth-of-type(10) {
    --offset: 10;
  }
  div.item:nth-of-type(11) {
    --offset: 11;
  }
  div.item:nth-of-type(12) {
    --offset: 12;
  }
  div.item:nth-of-type(13) {
    --offset: 13;
  }
  div.item:nth-of-type(14) {
    --offset: 14;
  }