#contenant__footer{
    background-image: url('media/images/menuInfo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: fixed;
    background-color:none;
    width: 160px;
    height: 160px;
    bottom: 5vh;
    left: 1vw;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
    @include screen('tablet')  {
        width: 120px;
        height: 120px;
    }
    @include screen('mobile')  {
        left: calc(100% - 100px);
        top: 10px;
        width: 80px;
        height: 80px;
        font-size: 1em;
        flex-direction: row;
    }
}
#contenant__bulles{
    display: flex;
}
.footer__bulle{
    position: absolute;
    width: 35%;
    height: 35%;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
    border: 2px white solid;
    color: white;
    text-align: center;
    display: none;
    border: 1px solid rgb(255, 255, 255);
    @include screen('mobile')  {
    width: 50%;
    height: 50%;
    }
}
.cls-1 {
    fill: $couleur__marie4;
    stroke: #e0e0e0;
    stroke-miterlimit: 5;
    stroke-width: .3px;
    scale:40%;
    justify-content: center;
}