header{
    display: flex;
    & div{
        width: 33.33%;
    }
    @include screen('mobile')  {
        flex-direction: column;
        & div{
            width:100%;
        }
    }
}
.headerAcc{
    display: flex;
    flex-direction: column;
}
.menu-burgerHome {
    margin-top: 100px;
    z-index: 10;
    width: 100%;
    width: 92%;
    margin: 100px auto 0 auto;
    
    & div{
        width: 100%;
        & ul{
            padding: 0;
            display: flex;
            justify-content: space-between;
            & li{
                & a{
                    text-transform: uppercase;
                    font-family: culottes;
                    color: $couleur__font-titre;
                    &:hover{
                        color:$couleur__autre1 ;
                    }
                }
            }
        }
    }
}
label{
    position: center;
}
    
.menu-burger{
    height: 10%;
    z-index: 10;
    & #burger__contenant{
        width: 60px;
        height: 60px;
        margin: 40px auto 0 auto;
        cursor: pointer;
        z-index: 100;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include screen('mobile')  {
            margin-top: 20px;
        }
        .burger__ligne{
            width: 100%;
            height: 6px;
            background-color: white;
            margin: 8px 0px;
        }
    }
    & #burger__fondActif{
        scale: 0;
        opacity: 0;
        transition: 2s;
        z-index: 2;
        background-image: url('media/images/backtexte1.png');
        opacity: 0.7;
        background-repeat: no-repeat;
        background-position: center ; 
        background-size:  100% 100%;
        position: absolute;
        width: 100vw;
        height:60vh;
        top: 30vh;
        right: 1%;
        & .menu-menu-1-container{
            margin-top: 4%;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
             & ul {
                    padding: 0px;
                    margin: 0px;
                    & :hover{
                        background-image: url('media/images/backtexte.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center ; 
                        background-size: 100%;
                    }
                    & li{
                        z-index: 13;
                        text-align: center;
                        padding: 10px 0;
                        margin: 10px 0;
                            & a{
                                font-variant: small-caps;
                                color:$couleur__background-menu;
                            }
                    }
                }
           
            
        }
    }
}
.cacherDesk{
    display: none;
    @include screen('mobile')  {
        display: block;
    }

}
.cacherMobile{
    display: block;
    @include screen('mobile')  {
        display: none;
    }

}
.burger__ligne{
    transform:rotate(0deg); ;
    transition: 2s;
}

#chk-burger:checked ~ #burger__fondActif{
    scale: 1;
  opacity: 1; 

}

#chk-burger:checked ~ #burger__contenant #burger__ligne3{
    transform: translateY(-20px) rotate(135deg);

}

#burger__ligne2{
    opacity: 1;
}

#chk-burger:checked ~ #burger__contenant #burger__ligne2{ 
    opacity: 0;
}

#burger__ligne1{
    opacity: 1;

}

#chk-burger:checked ~ #burger__contenant #burger__ligne1{ 
    transform: translateY(20px) rotate(-135deg);

}

