.logo{
    & a{
        & img{
            margin-left: 15px;
            margin-top: 15px;
            opacity: 0.85;
            &:hover{
                opacity: 1;
            }
            @include screen('tablet')  {
                width: 300px;
                height: auto;
            }
            @include screen('mobile')  {
                width: 190px;
                height: auto;
            }
        }
    }
}

