// ------------------- Titres ------------------------
h1{
  color: white;
  text-align: center;
  font-size: Max(3.2vw, 2.5em);
  margin: 0;
  text-transform: uppercase;
  font-family: culottes;
  font-weight: 100;
  letter-spacing: 2px;
  color: #FFFBF6;
  text-shadow: rgba(22, 22, 22, 0.986) 0px 0px 2px, rgb(8, 8, 8) 0px 0px 2px,#a9d5b2 0px 0px 10px, #a9d5bd 0px 0px 10px;
  margin-top: 15px;
}
h2{ //modifier plus tard line height + media querry
    font-size: Max(2.5vw, 1em);
    font-family: kosan;
    opacity: 1;
    text-shadow: rgba(22, 22, 22, 0.986) 0px 0px 2px, rgb(8, 8, 8) 0px 0px 2px,#a9d5b2 0px 0px 10px, #a9d5bd 0px 0px 10px;
    letter-spacing: 2px;
    font-style: 1rem;
    color: rgb(164, 194, 157);
    line-height: 0.7;
    
}//Ajout marie
div.item h2{
    z-index: 2;
    font-size: 3.1vw;
    position: relative;
    bottom: 6vw;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    color: #A9D5CD;
    font-family: kosan;
    letter-spacing: 0.2rem;
    line-height: 0.9;
    @include screen('grandEcran')  {
        bottom: 5vw;
        font-size: 2.8vw;
    }
    @include screen('mobile')  {
        line-height: 1;
    }
}
h3{
    color: white;
}
h4{
    color: white;
}

// ------------------- balises de base ------------------------
p{
    color: white;
}

a{
    font-size: Max(1.7vw, 1.2em);
    text-decoration: none;
    color: $couleur__background-menu;
    font-family: kosan ;
    color: $couleur__font-sous-titre;
}

li{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


