// ------------------- Titres ------------------------
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}

// ------------------- balises de base ------------------------
p{
    color: white;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


