// ------------------- Titres ------------------------
h1{
    color: white;
    text-align: center;
    font-size: Max(3.2vw, 2.5em);
    margin: 0;
    text-transform: uppercase;
    font-family:culottes;
    font-weight: 100;
    letter-spacing: 2px;
    color: $couleur__font-titre;
    text-shadow: rgba(255, 255, 255, 0.541) 0px 0px 5px, rgba(255, 255, 255, 0.596) 0px 0px 10px, 
    $couleur__autre2 0px 0px 10px, $couleur__autre2 0px 0px 15px, $couleur__autre2 0px 0px 20px, 
    $couleur__autre2 0px 0px 25px, $couleur__autre2 0px 0px 30px, $couleur__autre2 0px 0px 35px;}
h2{
    font-size: Max(2.5vw, 1em);
}
h3{
    
}
h4{
    color: white;
}

// ------------------- balises de base ------------------------
p{
    color: white;
}

a{
    font-size: Max(1.7vw, 1.2em);
    text-decoration: none;
    color: $couleur__background-menu;
    font-family: kosan ;
    color: $couleur__font-sous-titre;
}

li{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


