// Regroupement des couleurs du site

// -------------------- Background-color --------------------
$couleur__background-body : rgb(0, 0, 0);
$couleur__background-principale : rgb(0, 229, 255);
$couleur__background-secondaire : rgb(227, 147, 236);


// -------------------- Fonts --------------------
$couleur__font-titre: #ff0000;
$couleur__font-categorie: #ff9900;
