// Regroupement des couleurs du site

// -------------------- Les couleurs officel des maquettes --------------------
// -------------------- Background-color --------------------
$couleur__background-body : #1A1A1A;
$couleur__background-menu : #000000;
$couleur__background-sous-titre: #C8C8C8;

// -------------------- Fonts --------------------
$couleur__font-titre: #FFFBF6;
$couleur__font-sous-titre: #CFCFCF;
$couleur__font-cours: #9BE085;

// -------------------- autre --------------------
$couleur__autre1: #73CD8E;
$couleur__autre2: #4780C6;

// -------------------- couleur marie --------------------
$couleur__marie1: #3D5360;
$couleur__marie2: #3B4F5A;
$couleur__marie3: #85B698;
$couleur__marie4: #A8D46C;
$couleur__marie5: #B8D0EB;
$couleur__marie6: #1A1B1D;