@mixin screen($size) {
    $grandEcran: "(min-width:1921px)";
    $desktop: "(min-width:1024px)";
    $tablet: "(min-width:768px) and (max-width: 1023px)";
    $mobile: "(max-width:767px)";
    
    @if $size == grandEcran{
        @media only screen and #{$grandEcran}{
            @content;
        }
    }
    @else if $size == desktop{
        @media only screen and #{$desktop}{
            @content;
        }
    }
    
    @else if $size == tablet{
        @media only screen and #{$tablet}{
            @content;
        }
    }
    @else if $size == mobile{
        @media only screen and #{$mobile}{
            @content;
        }
    }
}
//Ex d'utilisation : @include screen('mobile')  { width:50%;}