$police__main : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principal : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$police__titre-secondaire : Verdana, Geneva, Tahoma, sans-serif;

