$police__main : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principal : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$police__titre-secondaire : Verdana, Geneva, Tahoma, sans-serif;

// ---------------------- font des maquette ---------------------- 

// ---------------------- font sans culottes---------------------- 
@font-face {
    font-family: culottes;
    src: url(../../fonts/SansCulottes.ttf);
}

// ---------------------- font neonderthaw ---------------------- 
@font-face {
    font-family: neon;
    src: url(../../fonts/Neonderthaw-Regular.ttf);
}

// ---------------------- font kanit-light ---------------------- 
@font-face {
    font-family: kanit;
    src: url(../../fonts/Kanit-Light.ttf);
}

// ---------------------- font kosan non comercial ---------------------- 
@font-face {
    font-family: kosan;
    src: url(../../fonts/KosanNonCommercial.otf);
}